<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">微影片播放平台</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/">首頁</a>
          <a class="nav-link" href="/info/">觀看次數統計</a>
            {% if user.is_authenticated %}
                <a class="nav-link" href="/search/">搜尋</a>
                <a class="nav-link" href="/admin/">後台管理</a>
                <a class="nav-link" href="/accounts/logout/?next=/">登出</a>
            {% else %}
                <a class="nav-link" href="/accounts/login/?next=/">登入</a>
            {% endif %}
        </div>
      </div>
    </div>
  </nav>